<% if @parent_user.present? %>
  <%= content_tag :h1, "User #{@parent_user}: #{params[:collection]}" %>
<% else %>
  <h1>Listing Users</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to_if @parent_user.present?, 'Back', @parent_user %>
